{% extends 'base_generic.html' %}

{% block content %}
<h2>Inbox</h2>
<div id="inbox" class="container">
  {% for message in messages %}
    <div class="card mb-3 message" data-message-id="{{ message.id }}" onclick="decryptMessage(this)">
      <!-- Apply a green accent border on the left -->
      <div class="card-body" style="border-left: 4px solid rgb(6, 128, 56);">
        <p><strong>From:</strong> {{ message.sender.username }}</p>
        <p class="encrypted-content">{{ message.content|truncatechars:100 }}</p>
        <p><small class="text-muted">{{ message.timestamp }}</small></p>
      </div>
    </div>
  {% endfor %}
</div>

  <script>
    function decryptMessage(element) {
      // Retrieve the message ID from the element's data attribute.
      const messageId = element.getAttribute('data-message-id');
      
      // Send a GET request to decrypt
      fetch(`/decrypt/${messageId}/`)
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            // Replace the encrypted content with the decrypted message.
            element.querySelector('.encrypted-content').innerText = data.message;
          } else {
            console.error('Decryption failed');
          }
        })
        .catch(error => console.error('Error decrypting message:', error));
    }
  </script>
{% endblock %}
